
<h1>Operative Profile</h1>
    <% current_user = User.find(session[:user_id])  %>
    <h2>Name: <%=current_user.f_name%> </h2>
  
    <h2>Gorenet Communiques: <%= user_posts = Post.where(user_id: session[:user_id]).length.to_s%>
<h5><a type = "submit" href = "/deleted">Destroy Profile</a></h5> 

  <% recent_posts = Post.where(user_id: session[:user_id])%>
  <%if recent_posts.length  < 20 then recent_posts.each do |post| %>
    <div> 
        <h3>begin transmission</h3>
        <div>
            <h4>Operative profile: <%=post.user.f_name%>
        </div>
        <div>
            <h5><%=post.name%> </h5>
        </div>
            <h5> <%=post.body%> </h5>
        </div>
            <h3>transmission terminated</h3>
        </div>
        
    <%end%>
  
    <%else recent_posts = recent_posts.last(20)%>
       <% recent_posts.each do |post|%>
          <div>
            <h2><a href ="/post/<%=post.id%>"><%=post.name%>  </a> </h2>
         </div>
        <%end%>

    <%end%>